body{
    background-color: darkseagreen;
}
h1{
    text-align: center;
}
li{
    align-items: center;
}
marquee{
    font-family: fantasy;color: deeppink;
    font-size: 25px;
    padding-top: 200px;
}